.obj {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    padding-bottom: 10px;
}

.mentor_profile{
    text-align: center;
    padding-bottom: 20px;
}

.mentor_img{
    margin-top: 20px;
    width: 300px;
    height: fit-content;
    object-fit: contain;
    border-radius: 20%;   
    
}

.mentor_name {
    font-size: 35px;
    
}


.role{
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 3px;
    color: #ccc;
}

.objectives{
    line-height: 40px;
}

#obj_text{
    padding: 20px 0px;
}


.team {
  display: flex;
  justify-content: space-around;
  margin: 20px 80px;
}

.profile {
  flex-basis: 260px;
}

.photo {
  height: 200px;
  width: 200px;
  border-radius: 40%;
}

.name {
  margin-top: 30px;
  font-size: 35px;
}

.profile h5 {
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 3px;
  color: #ccc;
}

.profile p {
  font-size: 16px;
  margin-top: 20px;
  text-align: justify;
}

@media only screen and (max-width: 1150px) {

    
  .obj{
    display: block;
    margin: 0;
  }

  .mentor_img .mentor_name #mentor_role{
    margin-left: 0px;
    margin-bottom: 20px;
  }

  .objectives{
    background-color: white;
    color: #004a7c;
    padding: 20px;
    border-radius: 25px;
  }



  .team{
    display: grid;
    align-items: center; 
    text-align: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
  }


 

  .profile{
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 900px) {
  

  .team{
    display: block;
    text-align: center;
  }
  
  .mentro_profile{
    align-items: center;
    text-align: center;
  }

  .navbar{
    display: block;
    position: relative;
  }
}