*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    flex-direction: column;
}

.container h5{
    padding-bottom: 4px; 
    color: white;
}

.choose{
    position: absolute;
    background-color: #3bd4ae;
    margin-top: 7%;
    margin-left: 20px;
    width: 30%;
}

.choose ul li a{
    list-style-type: none;
    list-style: none;
    text-decoration: none;
    display: inline-block; 
    color: #004a7c;
    padding: 20px;
    
}

.container{
    margin-top: 7%;
    width: 55%;
    min-width: 500px;
    position: relative;
    transform: translate(-80%,-5%);
    left: 80%;
}
.wrapper{
    background-color: #3bd4ae;
    margin-bottom: 20px;
    padding: 15px 40px;
    border-radius: 5px;
    box-shadow: 0 15px 25px rgba(0,0,50,0.2);
}
.toggle,
.content{
    font-family: "Poppins",sans-serif;
}
.toggle{
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    color: #111130;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 0;
}
.content{
    /* position: relative; */
    font-size: 14px;
    text-align: justify;
    line-height: 30px;
    height: 0;
    overflow: hidden;
    transition: all 0.5s;
}

@media only screen and (max-width: 1150px) {
    .container{
        width: 50%;
        min-width: 500px;
        position: relative;
        transform: translate(-70%,3%);
        left: 60%;
    }
}

@media only screen and (max-width: 900px) {
    .container{
        width: 45%;
        min-width: 350px;
        left: 65%;
    }
}

